<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
<div th:fragment="modalInfusionSoft" >

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="infusionSoftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal InfusionSoft</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <a href="https://signin.infusionsoft.com/app/oauth/authorize?client_id=ru4xs4ezqrvag27jw78qrezc&redirect_uri=https://localhost:1338/sync-app/infusionsoft&response_type=code&scope=full" >Infusionsoft Walter</a>
        <a th:href="@{/infusionsoft/redirect}" target="_blank" >Sign in</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>

</body>
</html>