<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layoutUser :: head"></head>
<body>
	<header th:replace="layout/layoutUser :: header"></header>

	<div class="container-fluid row">
		<div th:replace="layout/layoutUser :: sidebar"></div>
		<div class="col-10 card border-primary text-center">
			<div class="card-header">Connectors</div>
			<div class="card-body">


				<div class="card-title row">
					<select class="form-control col-6 mr-3" id="connCombo">
						<option value="0">Select..</option>
						<option value="1">InfusionSoft</option>
						<option value="2">ConnectWise</option>
					</select>
					<button class="btn btn-primary btn-xs col-3"
						onclick="modalHandler.showModal();">New Connector</button>
				</div>
			</div>
			<h4 class="card-title text-left">Connections:</h4>
			<div th:if="${not #lists.isEmpty(conns)}">

				<div class="container row">
					<div
						class="card text-justify shadow p-3 mb-5 mr-3 bg-white rounded col-lg-4 col-sm-12"
						th:each="conn : ${conns}" th:id="${conn.type}" >

						<div class="card-body">
							<img th:src="@{${conn.img}}"
								alt="ConnectWise" class="img-thumbnail float-left mr-3"
								style="width: 72px;">
							<h4 class="card-title" th:text="${conn.platform}"></h4>

							<p
								th:text="'Added: ' + ${#dates.format(conn.regDate,'MM/dd/yyyy')}"></p>
								<!--  <p
								th:text="'Last test: ' + ${#dates.format(conn.lastUpdated,'MM/dd/yyyy')}"></p>-->
							<div class="row">
								<button class="btn btn-primary col-lg-5 mr-lg-1 mb-sm-1" th:id="'btnTest' + ${conn.id}" th:onclick="'modalHandler.testConn('+${conn.id}+',this.id);'"
									>
									<i class="fa fa-calculator"></i>
									Test
									</button>
								<button class="btn btn-danger col-lg-5 mb-sm-1"
									
									th:onclick="'alerts.confirm(\''+@{/delete/conn/}+''+${conn.id}+'\',\'Do you really want to delete the connector for '+${conn.platform}+'?\',\'Yes, delete\');'"><i class="fa fa-trash mr-1"></i>Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:if="${#lists.isEmpty(conns)}">
				<h5>There are no connections saved</h5>
			</div>



			<div class="row">
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>


		</div>


	</div>


	<footer th:replace="layout/layoutUser :: footer"></footer>
	<script th:inline="javascript" >
		var modalHandler = {
			showModal : function() {
				var app = $('#connCombo').val();
				var mensaje = '';
				if (app === '1') {
					if($('#is').html() == null){
						mensaje = 'infusionSoftModal';
					}
					
				} else if (app === '2') {
					if($('#cw').html() == null){
						mensaje = 'connectWiseModal';	
					}
					
				} else {
					alerts.show('You must select a platform', 'warning',
							'Understood');
				}
				if (mensaje !== '') {
					$('#' + mensaje).modal('show');
				}else{
					alerts.show('You already have a connection with that platform', 'warning',
					'Understood');
				}
			},
			testConn: function(id,btn){
				$('#'+btn).prop("disabled",true);
				$('#'+btn).html('<i class="fa fa-refresh fa-spin"></i>Testing...');
				$.get( [[@{/test/conn/}]] + id,  function(response){ 
					console.log(response);
				     if (response) {
				    	 alerts.show('Test succesful!','success','Ok');
				    	 $('#'+btn).prop("disabled",false);
					     $('#'+btn).attr("class","btn btn-success col-lg-5 mr-lg-1 mb-sm-1");
					     $('#'+btn).html('<i class="fa fa-check"></i> Success');	
					}else{
						alerts.show('Test failed, try again later!','error','Ok');
				    	 $('#'+btn).prop("disabled",false);
					     $('#'+btn).attr("class","btn btn-danger col-lg-5 mr-lg-1 mb-sm-1");
					     $('#'+btn).html('<i class="fa fa-times mr-1"></i>Failed');
					}
				});
			}
		};
		
		
	</script>
	
	<div th:replace="modals/modalConnectWise :: modalConnectWise"></div>
	<div th:replace="modals/modalInfusionSoft :: modalInfusionSoft"></div>
</body>
</html>